/*************************************/
/* Millennium Integrated Marketing ***/
/* Starter Bootstrap CSS *************/
/* Version 1.0 ***********************/
/* Make new copy, do not use to code */
/*************************************/

/******************************/
/**** PRINT - Fixes Tables ****/
/******************************/
@media print {

  a[href]:after {
    content: none;
  }

.table-responsive{
	max-width:800px;
	width: 100%;
	margin-bottom: 15px;
	overflow-x: hidden;
	overflow-y: hidden;
	border: 1px solid #dddddd;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
	border: 0px solid #dddddd;
}

.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
	white-space: normal;
}
} /* END PRINT */

/******************************/
/**** Begin Custom Styles *****/
/******************************/