 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@font-face {
	font-family: 'lucida_brightregular';
	src: url('../fonts/lucidabright-webfont.eot');
	src: url('../fonts/lucidabright-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/lucidabright-webfont.woff2') format('woff2'),  url('../fonts/lucidabright-webfont.woff') format('woff'),  url('../fonts/lucidabright-webfont.ttf') format('truetype'),  url('../fonts/lucidabright-webfont.svg#lucida_brightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
span.phone:before {
    font-family: 'Glyphicons Halflings';
	 content: "\e182";
     padding-right: 10px;
   font-size: 1.3rem;
}
span.cell:before {
    font-family: 'Glyphicons Halflings';
	 
    content: "\e145";
	font-size: 1.3rem;;
	padding-right: 10px;
}
span.email:before {
    font-family: 'Glyphicons Halflings';
	 content: "\2709";
	font-size: 1.3rem;
	padding-right: 10px;
}
span.location:before {
    font-family: 'Glyphicons Halflings';
	 content: "\e021";
	font-size: 1.3rem;
	padding-right: 10px;
}
  
body {
	font-family: 'Source Sans Pro', sans-serif!important;
}
/*input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {border-radius: 3px;
}*/
.nav-wrapper {
	border-top: solid 10px #ebab1f;
}
.secondary-nav-wrapper {
	background-color: #efedec;
	padding: 5px;
	margin-bottom: 0px;
}
.secondary-menu {
	float: right;
}
.secondary-menu > li > a {
	padding: 7px;
	padding-right: 20px;
	color: #aba9a9;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 300;
}
.navbar {
	min-height: 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	float: right;
}
.navbar-default .navbar-nav > li > a {
	color: #0b4f43;
	font-weight: 400;
	text-shadow: none;
	transition: text-shadow .5 ease;
}
.menu-main-menu .active
{
border-left: none;
border-right: none;	
}
.post-type-parent:after {
	content: "";
	border-right: solid 3px #ebab1f;
	padding-right: 10px;
	line-height: 5px;
	margin-right: 5px;
	height: 70%;
}
.nav-tabs {
	border-bottom: none;
}
.nav-tabs .tab-label {
	background-color: #efedec;
	margin-right: 3px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.8rem;
}
.nav-tabs  .active {
	background-color: #fff!important;
	border-left: solid 3px #efedec;
	border-top: solid 3px #efedec;
}
.active .tab-content, .tab-content > .active {
	border: none;
}
.tab-content li {
	font-size: 2rem;
	margin-top: 15px;
}
.nav-tabs > li.active > a {
	background-color: #fff!important;
	border: none;
}
.nav-tabs .tab-label a {
	color: #0b4f43;
}
.search {
	float: left;
	margin-bottom: 10px;
}
.entry-title, .entry-title a {
	color: #0b4f43;
	font-size: 4rem;
	lin-height: 4rem;
	margin-top: 20px;
}
h3 {
	color: #0b4f43;
	font-size: 3rem;
	margin-bottom: 10px;
}
.sidebox-container ul
{
	list-style: none;
	margin-left: 0px;
}
ul.services-list {
	list-style: none;
}
ul.services-list li {
	margin-bottom: 10px;
}
ul.services-list li:before {
	content: "• ";
	font-size: 2.5rem;
	color: #0b4f43;
	margin-left: -13px;
}
ul#members_list {
	list-style: none;
	color: #0b4f43;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	margin: 0px;
}
ul#members_list li a {
	color: #0b4f43;
}
.sidebox-container {
	background-color: #efedec;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 95%;
	border-left: solid 3px #ebab1f;
}
.sidebox-container a {
	color: #0b4f43;
	color: #000
}
.sidebox-entry {
	margin-bottom: 10px;
}
/* Bread crumbs */
#breadcrumbs, #breadcrumbs a {
	list-style: none;
	margin: 10px 0;
	overflow: hidden;
	color: #0b4f43;
	font-weight: 400;
}
#breadcrumbs li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
#breadcrumbs .separator {
	font-size: 18px;
	font-weight: 100;
	color: #0b4f43;
}
/* BOOTRAP OVERRIDE */
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color: rgba(255,255,255, .8);
}
.navbar-default {
	background-color: #ffffff;
	border: none;
}
input[type="text"] {
	width: 200px;
	border: none;
	background-color: #CCCBCA;
	padding-right: 50px;
	color: #fff;
	padding-left: 35px;
	font-family: 'lucida_brightregular';
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .nav > li .active {
	background-color: transparent;
	border-bottom: solid 3px #ebab1f;
	border-left: none;
	border-top: none;
}
.row {
	margin: 0px;
}
.col-md-12 {
	padding: 0px;
}
input[type="submit"] {
	margin-right: -35px;
	width: 20px;
	border: none;
	background-color: transparent;
	background: none;
	box-shadow: none;
	background-image: url(../images/searchicon.png);
	background-repeat: no-repeat;
	position: relative;
	z-index: 1000;
}
input[type="submit"]:hover {
	background-color: transparent;
	background: none;
	box-shadow: 0px 0px 2px #000;
	background-image: url(../images/searchicon.png);
	background-repeat: no-repeat;
}
/* FOOTER */
.footer-location {
	text-align: center;
	color: #0b4f43;
	margin-top: 50px;
	margin-bottom: 40px;
	border-left: none;
	border-top: none;
}
.footer-location span {
	font-weight: bold;
}
.site-footer-row {
	font-size: 1rem;
	background-color: #0B4F43;
	padding-top: 10px;
	padding-bottom: 5px;
}
.main-footer {
	background-color: #efedec;
	padding-top: 20px;
	padding-bottom: 20px;
}
.main-footer .navbar-nav {
	float: right;
}
.main-footer .navbar-nav > li > a {
	font-weight: 300;
	color: #0b4f43;
}
.footercurve {
	background-image: url("../images/footercurve.png");
	width: 100%;
	height: 18px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #efedec;
}
.left-sitefooter-info, .left-sitefooter-info a {
	color: #fff;
	font-size: 14px;
	margin-top: 5px;
}
.copyright {
	padding-right: 20px;
}
.cred img {
	opacity: 0.5;
}
.cred {
	text-align: right;
	background-image: url("../images/millcred-1.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding: 10px;
	color: #fff;
	padding-right: 43px;
	float: right;
}
.cred a {
	color: #fff;
}
.homepage-section {
	background-size: cover;
	width: 100%;
	height: 800px;
}
.subpage-section {
	background-size: cover;
	width: 100%;
	height: 600px;
}
.homepage-text-container {
	height: 100%;
	font-size: 3rem;
	font-weight: 300;
	background-color: rgba(255,255,255, .7);
	padding: 100px;
	display: table;
	width: 45%;
}
.first_homepage-section {
	background-color: transparent;
	color: #fff;
}
.homepage-text-container {
	float: left;
}
.homepage-text {
	width: 95%;
	display: table-cell;
	vertical-align: middle;
}
.homepage-section:nth-child(2n) .homepage-text-container {
	float: right;
}
.homepage-button {
	border: solid 2px #0b4f43;
	padding: 10px;
	text-align: center;
	max-width: 75%;
	font-size: 1.8rem;
	background-color: transparent;
	-webkit-transition: background-color .75s; /* Safari */
	transition: background-color .75s;
	margin-top: 20px;
	font-family: 'lucida_brightregular';
}
.homepage-button:hover {
	background-color: rgba(255,255,255, .6);
}
.homepage-button a {
	color: #0b4f43;
	text-decoration: none;
}
.first_homepage-section .homepage-button {
	border-color: #ebab1f;
	-webkit-transition: box-shadow .75s; /* Safari */
	transition: box-shadow .75s;
}
.first_homepage-section .homepage-button:hover {
	background-color: transparent;
	box-shadow: 0px 0px 6px #fff;
}
.first_homepage-section .homepage-button a {
	color: #ebab1f;
}
/* HOMEPAGE banner */
.homepage-title {
	color: #fff;
	font-size: 6rem;
	text-align: center;
	margin-top: 25%;
}
.carousel-inner .active {
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
}
.carousel-control {
	display: none;
}
.banner-overlay {
	background-image: url(../images/banner-overlay.png);
	background-repeat: repeat-x;
	height: 100%;
	width: 100%;
}
.additional-group-container {
	background-image: url(../images/tie.jpg);
	color: #fff;
	height: auto;
	padding: 50px;
}
.additional_group_text_container {
	width: 50%;
	float: right;
	padding: 50px;
}
.additional_group_text_container a {
	color: #fff;
	padding: 10px;
	background-color: transparent;
	transition: all .5s;
}
.additional_group_text_container a:hover {
	color: #000;
	text-decoration: none;
	background-color: rgba(255,255,255, .5);
}
.additional_group_text_container h3 {
	color: #fff;
	width: 70%;
	border-bottom: solid 2px #ebab1f;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.additional_group {
	width: 240px;
	float: left;
	font-size: 2.3rem;
	text-align: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.member_logo {
}
.member_logo_row {
	background-color: #efedec;
	box-shadow: inset 0px 0px 10px #666;
	padding: 30px;
}
#member_logo_container {
	text-align: justify;
	max-width: 1000px;
}
#member_logo_container > div {
	width: 100px; /* Declare your value. Can be in relative units. */
	display: inline-block;
	vertical-align: top;

	/* IE fix. */
	*display: inline;
	zoom: 1;
}
#member_logo_container:after {
	content: "";
	width: 100%;
	display: inline-block;
}
.member-photo {
	background-repeat: no-repeat;
	background-size: cover;
	width: 200px;
	height: 300px;
	float: right;
	margin: 15px;
	border: solid 3px #E5E5E5
}
.position {
	background-color: rgba(255,255,255, .8);
	margin-top: 135%;
	color: #0b4f43;
	padding: 4px;
	position: relative;
	z-index: 1000;
}
.video-row {
	background-image: url(../images/videobackground.jpg);
	background-size: cover;
	padding: 40px;
}
.video-container {
	text-align: center;
}
.member-search input[type="text"] {
	padding-left: 10px;
	width: 190px;
}
.selectdiv {
	position: relative;
	display: inline-block;
	width: 150px;
	margin-bottom: -12px;
}
.selectdiv:after {
	content: '<';
	font: 17px "Consolas", monospace;
	color: #0b4f43;
	font-weight: bold;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	right: 4px;
	top: 2px;
	padding: 0 0 2px;
  
	position: absolute;
	pointer-events: none;
}
.selectdiv select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 30px;
	margin: 0px 0px;
	font-size: 1.3rem;
	line-height: 1.75;
	color: #0b4f43;
	background-color: #ffffff!important;
	background-image: none;
	border: 1px solid #0b4f43;
	-ms-word-break: normal;
	word-break: normal;
}
.member-search select {
	background-color: #fff;
	border: solid 2px #0b4f43;
	;
	padding: 3px;
	background: url(select_arrow.png) no-repeat right #ddd;
	font-family: 'lucida_brightregular';
}
input[type="text"]#member-search, input[type="email"]#member-search, input[type="url"]#member-search, input[type="password"]#member-search, input[type="search"]#member-search, input[type="button"]#member-search, input[type="reset"]#member-search, input[type="submit"]#member-search, textarea#member-search {
	border-radius: none!important
}
.member-search input[type="text"] {
	background-color: #fff!important;
	border: 2px solid #0b4f43;
	color: #0b4f43;
	border-radius: none!important;
}
.member-search input[type="text"], .member-search select {
	text-transform: uppercase;
	font-size: 1.3rem;
}
.member-search input[type="submit"] {
	width: auto;
	margin-left: 5px;
	font-size: 1.5rem;
	font-family: 'lucida_brightregular';
	color: #fff;
	background-color: #ebab1f;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	text-shadow: none;
	background-image: none;
	border-radius: none!important;
}
	::-moz-placeholder {
opacity: 1;
}
.member_list_box {
	width: 100%;
	height: 225px;
	background-size: 100%;
}
.member_box_info {
	color: #0b4f43;
	font-size: 14px;
	text-align: left;
	width: 200px;
	position: absolute;
	bottom: 0;
	padding: 5px;
}
.member_box_info h3 {
	margin: 0px;
	padding: 0px;
}
.loc-pos {
	color: #000;
	width: 200px;
	font-size: 1.6rem;
}
.member-col {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
/******************************/
/**** Download Overlay ****/
/******************************/
.box {
	position: relative;
}
.member_overlay {
	background-color: rgba(255,255,255, .6);
	width: 100%;
	height: 100%;
	transition: all .5s;
}
.member_overlay:hover {
	background-color: rgba(255,255,255, 0);
}
.box .overtext {
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	transform: translateY(40px);
	-webkit-transform: translateY(40px);
	background-color: rgba(255,255,255, 0.8);
	width: 100%;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
}
.overtext a {
	color: #0A4F43;
}
h1.chair {
	color: #0b4f43;
	border-top: solid 3px #ebab1f;
	font-size: 2.5rem;
	padding-top: 20px;
}
.box .title {
	font-size: 1.8rem;
	text-transform: uppercase;
	opacity: 0;
	transition-delay: 0.1s;
	transition-duration: 0.2s;
}
.box:hover .title, .box:focus .title {
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}
.chair-row {
	background-color: #E9E7E6;
	min-height: 300px;
}
.chair-photo {
	min-height: 100%;
	width: 30%;
	position: absolute;
	min-width: 200px;
	background-size: cover;
	float: left;
}
.chair-infobox {
	float: left;
	width: 60%;
	padding: 20px;
	margin-left: 40%;
}
.chair-name, .chair-name a, .chair-name a:visited {
	color: #000000;
	font-size: 2.2rem;
}
.sidebox-container ul.services-list li::before
{	margin-left: 0px;
	content: " ";
}
.sidebox-container ul.services-list
{
margin-left: 0px;
font-size: 2rem;	
}
 @media screen and (max-width: 690px) {
.site-footer, .main-footer-area {
	text-align: center;
}
.cred {
	width: 70%;
	float: none;
}
.chair-photo {
	min-height: 300px;
	width: 30%;
	position: relative;
	min-width: 200px;
	background-size: cover;
	float: left;
	clear: left;
}
.chair-infobox {
	float: left;
	width: 60%;
	padding: 20px;
	margin-left: 0px;
}
}
